@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Caveat:400');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700');

@font-face {
  font-family: 'Zen';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Zen-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Zen-Bold.ttf") format('truetype');
}