@font-face {
  font-family: 'Raleway';
  font-weight: 100;
  font-style: normal;
  src: url("./assets/fonts/Raleway-Thin.woff2") format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Raleway-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Raleway-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Raleway-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Raleway-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  src: url("./assets/fonts/Montserrat-Thin.woff2") format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Montserrat-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Montserrat-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Montserrat-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Montserrat-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/HelveticaNowDisplay-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/HelveticaNowDisplay-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/HelveticaNowDisplay-Medium.woff2") format('woff2');
}


@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/RobotoCondensed-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/RobotoCondensed-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/RobotoCondensed-Bold.woff2") format('woff2');
}


@font-face {
  font-family: 'Zen';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Zen-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Zen-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Zen-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Zen-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Caveat-Regular.ttf") format('truetype');
}
